absl-py==0.9.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
basepackage==0.1.1
bcrypt==3.1.7
bitstring==3.1.7
bleach==3.1.4
cachetools==4.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.10
filterpy==1.4.5
future==0.18.2
gast==0.2.2
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpsd-py3==0.3.0
graphviz==0.15
grpcio==1.28.1
h5py==2.10.0
hdbscan==0.8.13
html5lib==1.0.1
ibmiotf==0.4.0
idna==2.9
importlib-metadata==3.1.1
ipykernel==5.4.0
ipython==7.16.1
ipython-genutils==0.2.0
iso8601==0.1.12
jedi==0.17.2
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
libais==0.17
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.2.0
paho-mqtt==1.5.0
pandas==1.0.3
pandocfilters==1.4.3
paramiko==2.7.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.3
PyNaCl==1.4.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==20.0.0
rdp==0.8
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
sequential==1.0.0
six==1.14.0
sklearn==0.0
sshtunnel==0.1.5
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
torch==1.7.1
torchvision==0.8.2
torchviz==0.0.1
tornado==6.1
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zstd==1.4.4.0
